<?xml version="1.0" encoding="UTF-8" ?>
<!-- 参考: log4j.xml書き方メモ (https://qiita.com/opengl-8080/items/f7e1f1b7e2b928427cb5) -->
<!-- 参考: log4j2の設定ファイル(XML) (https://qiita.com/pica/items/f801c74848f748f76b58) -->
<Configuration status="off">
    <Properties>
        <!-- 参考: Apache log4j 2 Layout (http://logging.apache.org/log4j/2.x/manual/layouts.html) -->
        <!--
            このフォーマット指定で、以下のようなログが出力される。
                2019/12/01 12:06:39.266,ERROR,main,main.MyApplication,エラーテスト
         -->
        <Property name="base_format" value="%d{yyyy/MM/dd HH:mm:ss.SSS},%-5level,%thread,%class,%message%n" />
    </Properties>

    <Appenders>
        <File name="sample_log" fileName="logs/sample_log4j2_${date:yyyyMMdd}.log">
            <PatternLayout pattern="${base_format}" charset="SJIS" />
        </File>

        <!-- 特定のログレベルだけ別のファイルにも出力したい場合 -->
        <File name="sample_log_error" fileName="logs/sample_error.log">
            <PatternLayout pattern="${base_format}" charset="SJIS" />
        </File>

    </Appenders>

    <Loggers>
        <!--  親の出力レベルをallにしないと、出力対象レベルが限定されてしまう -->
        <Root level="all">
            <AppenderRef ref="sample_log" level="all" />

            <!-- 特定のログレベルだけ別のファイルにも出力したい場合 -->
            <AppenderRef ref="sample_log_error" level="error" />

        </Root>
    </Loggers>

</Configuration>
