# Ignore Gradle files
.gradle
build
gradle
gradlew
gradlew.bat

# Ignore Eclipse files
.classpath
.project
.settings
bin

# Ignore files including personal information
conf/mail.properties
src/test/resources/mail.properties
